#reportFormContainer {
    max-width: 413px;
}

#reportFormContainer h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.report-form-container__progress-bar {
  height: 4px;
  width: 103px;
}

#reportFormContainer .swiper-slide {
  width: auto;
}

#reportFormContainer .disease-btn {
  padding-left: 18px;
  padding-right: 18px;
  background: #fbfbfb;
  border: 1px solid #e2e4e6;
  border-radius: 6px;
  line-height: 24px;
}

#reportFormContainer textarea {
  height: 160px;
}

#reportFormContainer::placeholder {
    color: #C1C3C6;
    font-weight: 400;
}

#reportFormContainer .form-switch .form-check-input {
    height: 20px;
    width: 36px;
}